.log {
    white-space: pre;
    overflow: visible;
    width: 800px;
}
.log div {
    margin-top: 0.2em;
    padding: 0.2em;
    font-size: 1.2em;
    background-color: #EEEEEE;
}
.log div div {
    border-bottom: none;
    font-family: monospace;
}
.log div div:FIRST-CHILD {
    font-size: x-small;
    color: gray;
    padding-bottom: 0.2em;
}
.log div div:LAST-CHILD {
    padding-bottom: 0.1em;
}

body {
	width: 1200px;
}

body > .head {
    max-width: 1200px;
    text-align: left;
    background-color: #FFF7BC;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

body > .head > div:FIRST-CHILD {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

body > .content:before {
    content: "Form";
}
body > .content {
    width: 48.7%;
    float: left;
    border: 2px solid black;
    padding: 4px;
}

body > .log:before {
	content: "Log"
}
body > .log {
    width: 48.7%;
    float: right;
    border: 2px solid black;
    padding: 4px;
    padding-top: 1.5em"
}

body > .content:before,
body > .log:before  {
    font-size: x-large;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: black;
}

.head h3 {
    font-size: 1em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.head h4 {
    font-size: 0.9em;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: inline;
}

.head #disp-code h4,
.head #disp-code div {
    padding-left: 10px;
    padding-right: 10px;
}

.head #disp-code .syntaxhighlighter {
    border: 2px solid black;
}

.hide-link,
.show-link,
.hide-code,
.show-code {
    font-family: monospace;
    color: blue;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.error-log,
.error-log * {
    background-color: #FFAAAA !important;
}

#unit-tests,
#unit-tests table {
    min-width: 1160px;
}

#unit-tests thead {
    background: #CCF
}

#unit-tests tr:nth-child(4n+1),
#unit-tests tr:nth-child(4n+2) {
    background: #FFF;
}

#unit-tests tr:nth-child(4n+3),
#unit-tests tr:nth-child(4n+4) {
    background: #DDD;
}

#unit-tests tr td:nth-child(1) {
    padding-right: 3em;
}

#unit-tests tr td:nth-child(2) {
    padding-right: 3em;
    max-width: 40em;
}

#unit-tests thead td:nth-child(3),
#unit-tests tr    td:nth-child(3) {
    text-align: center;
}

#unit-tests thead td:nth-child(4),
#unit-tests tr    td:nth-child(4) {
    text-align: center;
}

#unit-tests thead {
    font-weight: bold;
}

.test-pass,
.test-fail,
.test-error {
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;
}

.test-pass {
    background-color: #AAFFAA !important;
}
.test-fail {
    background-color: #FFAAAA !important;
}
.test-error {
    background-color: #FF0000 !important;
}

